* {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.separator {
    -fx-background-color: #aa1a1a;
}

.text {
    -fx-font-size: 13;
}

.button {
    -fx-background-color: #d1e8ef;
    -fx-border-color: #80aab6;
    -fx-border-width: 1px;
}

.date-picker .arrow-button {
    -fx-background-color: #d1e8ef;
    -fx-border-color: #80aab6;
    -fx-border-width: 1px;
}

.text-field {
    -fx-background-color: #f1f9fa;
    -fx-border-color: #80aab6;
    -fx-border-width: 1px;
}

.date-picker .text-field {
    -fx-background-color: #f1f9fa;
    -fx-border-color: #80aab6;
    -fx-border-width: 1px;
}

.date-picker-popup .day-cell {
    -fx-background-color: #f1f9fa;
}

.date-picker-popup .day-cell:hover {
    -fx-background-color: #d1e8ef;
    -fx-text-fill: black;
}

.date-picker-popup .day-cell:focused  {
    -fx-background-color: #d1e8ef;
    -fx-text-fill: black;
}

.date-picker-popup .previous-month {
    -fx-background-color: #bcdde7;
}

.date-picker-popup .next-month{
    -fx-background-color: #bcdde7;
}

.date-picker-popup .calendar-grid {
    -fx-background-color: #d1e8ef;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #f1f9fa;
}

.tab-pane .tab-header-area .tab-header-background
{
    -fx-background-color: #d1e8ef;
}

#tabPaneOverall .tab:selected
{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-effect: none;
    -fx-background-color: #bcdde7;
}

#tabPaneOverall .tab
{
    -fx-background-color: #f1f9fa;
    -fx-background-radius: 2px;
    -fx-background-insets: 0 15 0 15;
}

#LongTabPane .tab
{
    -fx-background-insets: 0 3 0 3;
}

.tab-pane .tab-header-area {
    -fx-padding: 4 0 4 8;
}

#ErrorLabel .text{
    -fx-font-size: 18;
}

#CurrentDataBox {
    -fx-background-color: #bcdde780;
    -fx-background-radius: 10px;
}

#ScrollViewPane {
    -fx-background-color: #d1e8ef;
    -fx-background-radius: 6px;
    -fx-padding: 5 0 5 0px;
}

#ScrollContent {
    -fx-background-color: #f1f9fa;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #d1e8ef;
}

.scroll-pane .thumb {
    -fx-background-color: #f1f9fa;
    -fx-background-radius: 0;
}